#contact {
	display: none;
}
#contacto {
	@include queries(phoness-min){
		padding:{top:10px !important;bottom:10px !important;}
	}
	@include queries(tabless){
		padding:{bottom:0 !important;}
	}
	@include queries(notebook-min){
		padding:{bottom:0 !important;}
	}
	.container {
		.heading-title-wrapper {
			@include queries(tabless){
				padding:{left:0; right:0; bottom:20px;}
			}
		}
		.list-services-wrapper {
			.link-style {
				@include queries(tabless){
					width: 24% !important;
					padding: 0;
					display: inline-block;
					word-wrap: break-word;
				}
				.service-wrapper {

					.icon {
						border:2px solid #fff;
					}
					h2 {
						font:{size:17px;weight:bold;}
					}
					a {
						text:{decoration: none;}
					}
				}
			}
		} 
		.animation-wrapper {
			@include queries(tabless){
				margin:{bottom:40px !important;}
			}
			.wpcf7 {
				form {
					input {
						@include placeholder {
							color:#fff;
							font:{size:16px;weight:bold;}
							font:{weight:bold;}
						}
					}
					textarea {
						@include placeholder {
							color:#fff;
							font:{size:16px;weight:bold;}
							font:{weight:bold;}
						}
					}
					input[type="submit"] {
						color: #fff;
						background: none;
						font:{size: 16px;weight:bold;}
						display:block;
						border: 2px solid #fff;
						border-radius: 25px;
						padding: 5px 40px;
						margin: 60px auto 0 auto;
						left:0;
						right: 0;
						text:{align:center;}
						width: 25%;
						@include queries(phoness-min){
							width: 90%;
						}
					}
				}
			}
		}
		
	}
}