#header {
	background: #fff;
	position: absolute;
	top:0;
	.container {
		a{
			.logo-wrapper {
				width:inherit !important;
				min-width: 69px;
				max-width: 110px;
				left:0 !important;
				img {
					position: relative;
					width:100%;
				}
			}
			@include queries(phoness-min){
				top:0 !important;
			}
			@include queries(phoness){
				top:0 !important;
			}
			@include queries(tabless){
				top:0 !important;
			}
		}
	}
	.menu-responsive{
		.slicknav_menu {
			.slicknav_btn {
				background: none;
				.slicknav_menutxt {
					display: none;
				}
			}
			.slicknav_icon-bar {
				background:#000;
			}
			.slicknav_nav {
				background: #fff;
				color:#000;
				li {
					a{
						color:#525962;
						text:{align:right;}
					}
				}
			}
		}	
	}
}
