#header {
	background: #fff;
	position: absolute;
	top:0;
	.container {
		a{
			.logo-wrapper {
				width:inherit !important;
				min-width: 69px;
				left:0 !important;
				top:5px !important;
				img {
					position: relative;
					width:100%;
				}
				@include queries(phoness-min){
					min-width: 130px;
				}
				@include queries(phoness){
					min-width: 130px;
				}
				@include queries(tabless-min){
					top: 17px !important;
				}
				@include queries(tabless-min-portrait){
					top: 5px !important;
				}
				@include queries(tabless){
					top: 17px !important;
				}
				@include queries(tabless-portrait){
					top: 17px !important;
				}
				@include queries(tabless-landscape){
					max-width: 217px;
					top: 5px !important;
				} 
			}
			@include queries(phoness-min){
				top:0 !important;
			}
			@include queries(phoness){
				top:0 !important;
			}
			@include queries(tabless){
				top:0 !important;
			}
		}
	} 
	.menu-responsive{
		.slicknav_menu {
			.slicknav_btn {
				background: none;
				.slicknav_menutxt {
					display: none;
				}
			}
			.slicknav_icon-bar {
				background:#000;
			}
			.slicknav_nav {
				background: #fff;
				color:#000;
				li {
					a{
						color:#525962;
						text:{align:right;}
					}
				}
			}
		}	
	}
}
