#invitado {
	.italic-font {
		&:first-child {
			//margin:{top:100px;}
		}
		.service-wrapper {
			text:{align:left;}
			.icon {
				display: none;
			}
			.title {
				font:{weight:bold;}
			}
		}	
	}
	
	.et-team-post {
		@extend .center;
		display: block;
		width: 40%;
		margin:{bottom:30px;}
		.team-info {
			margin:{top:20px;left:0;}
		}

	}
	.line-wrapper {
		display: none;
	}
	.timeline-wrapper {
		.detail {
			text:{align:left;}
		}
	}
}