.slider-info {
	img {
		@include queries(phoness-min){
			height: 480px !important;
		}
		@include queries(tabless){
			height: 760px !important;
		}
		@include queries(notebook-min){
			height: 770px !important;
		}	
	} 
	.slider-homeof {
		display: table-cell;
		vertical-align: middle;
		background: white;
		height:530px;
		position: absolute; 
		left:0;
		right: 0;
		margin:10% auto 0 auto;
		opacity: 0.7;
		@include queries(phoness-min){
			height: 250px;
			opacity: 0.8;
			margin:{top:24%;} 
		}
		@include queries(tabless-min){
			height: 370px;
			margin:{top:18%;}
			opacity: 0.8;
		}
		@include queries(tabless){
			height: 370px;
			margin:{top:18%;}
			opacity: 0.8;
		}
		@include queries(notebook){
			margin:{top:10%;}
			opacity: 0.8;	
		}
		@include queries(notebook-min){
			height: 370px; 
		}
		.col-logo {
			@extend .no-paddings;
			@extend .center;
			float:none;
			top:50px;
			left:0;
			right: 0;
			display: block;
			height: 230px;
			z-index: 99;
			@include queries(phoness-min){
				height: 110px;
				top:10px;
			}
			@include queries(tabless){
				height: 100px;
				top: 36px;
				width: 42% !important;
			}
			@include queries(notebook-min){
				height: 100px;
				top: 36px;
			}
			a {
				padding: 0;
				height: 230px;
				@include queries(phoness-min){
					height: 110px;
				}
				@include queries(tabless){
					height: 100px;
				}
				@include queries(notebook-min){
					height: 100px;
				}
				svg {
					width: 100%;
					height: auto;
				}
			}
		}
		.col-info {
			@extend .text-center;
			@extend .center;
			float: none;
			@include queries(phoness-min){
				padding:0 !important;
			}
			@include queries(tabless){
				margin:{top:50px !important;}
			}
			@include queries(notebook-min){
				margin:0 !important;
			}
			h2 {
				color:$first_color;
				font:{size: 3em;weight: bold;}
				margin:{top:50px;bottom:5px;}
				@include queries(phoness-min){
					font:{size: 1.4em;}
					margin:0 !important;
				}
				@include queries(tabless-min){
					font:{size: 1.8em;}
					margin:{top:50px;}
				}
				@include queries(tabless){
					font:{size: 1.8em;}
				}
				@include queries(notebook-min){
					font:{size: 2.3em;}
					margin:{top:0;}
				}
				@include queries(desktop){
					margin:{top:0;}
				}
			}
			h3 {
				color:$second_color;
				font:{size: 2.3em;}
				text:{transform: uppercase;}
				margin: 15px 0;
				@include queries(phoness-min){
					font:{size: 1em;}
					margin:10px;
				}
				@include queries(notebook-min){
					font:{size: 2em;}
				}
			}
			.date {
				color:$second_color;
				font:{size: 18px;weight: bold;}
				margin: 18px 0;
				@include queries(phoness-min){
					font:{size:10px;}
					margin:0;
				}
				@include queries(tabless){
					margin:{bottom:10px;}
				}
			}
			.desc {
				color:$first_color;
				font:{size: 15px; style: italic;weight: bold;}
				margin:{top: 30px}
				@include queries(phoness-min){
					font:{size: 9px;}
					margin:{top:8px;}
				}
				@include queries(tabless){
					font:{size: 13px;}
					margin:{top:0;}
				}
				@include queries(notebook-min){
					font:{size: 14px;}
					margin:{top:0;}
				}
			}
		}
	}
	.scroll-down-of {
		left:0;
		right: 0;
		margin:0 auto;
		position: absolute;
		bottom:10%;
		width: 30px;
		@include queries(phoness-min){
			bottom: 17%;
		}
	}	
}
