.text-center, .slider-info .slider-homeof .col-info {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.no-margins {
  margin: 0 !important; }

.no-paddings, .slider-info .slider-homeof .col-logo {
  padding: 0 !important; }

.resp_img {
  width: 100%;
  height: auto; }

.center, .slider-info .slider-homeof .col-logo, .slider-info .slider-homeof .col-info, #invitado .et-team-post {
  margin: 0 auto !important; }

a {
  text-decoration: none; }

.slider-info .slider-homeof {
  display: table-cell;
  vertical-align: middle;
  background: white;
  height: 530px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 10% auto 0 auto;
  opacity: 0.9; }
  .slider-info .slider-homeof .col-logo {
    float: none;
    top: 50px;
    left: 0;
    right: 0;
    display: block;
    height: 230px;
    z-index: 99; }
    .slider-info .slider-homeof .col-logo a {
      padding: 0;
      height: 230px; }
      .slider-info .slider-homeof .col-logo a svg {
        height: 230px; }
  .slider-info .slider-homeof .col-info {
    float: none; }
    .slider-info .slider-homeof .col-info h2 {
      color: #525962;
      font-size: 3em;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 5px; }
    .slider-info .slider-homeof .col-info h3 {
      color: #c95310;
      font-size: 2.3em;
      text-transform: uppercase;
      margin: 15px 0; }
    .slider-info .slider-homeof .col-info .date {
      color: #c95310;
      font-size: 18px;
      font-weight: bold;
      margin: 18px 0; }
    .slider-info .slider-homeof .col-info .desc {
      color: #525962;
      font-size: 15px;
      font-style: italic;
      font-weight: bold;
      margin-top: 30px; }
.slider-info .scroll-down-of {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 10%;
  width: 30px; }

#invitado .et-team-post {
  display: block;
  width: 42%; }
  #invitado .et-team-post .team-info {
    margin-top: 20px; }
#invitado .line-wrapper {
  display: none; }
#invitado .timeline-wrapper .detail {
  text-align: left; }

#reserva .heading-title-wrapper .sub-title {
  font-weight: bold;
  font-size: 17px; }
#reserva .btn-oe {
  border: 2px solid #fff;
  padding: 10px 40px;
  margin-top: 25px; }

#aq-template-wrapper-88 .container .heading-title-wrapper .sub-title {
  font-weight: bold; }
#aq-template-wrapper-88 .container .list-services-wrapper .service-wrapper p {
  font-weight: bold;
  text-align: left; }
#aq-template-wrapper-88 .container .list-services-wrapper .italic-font:last-child .service-wrapper p {
  font-style: italic; }
#aq-template-wrapper-88 .container .service-wrapper .icon {
  display: none; }
#aq-template-wrapper-88 form input::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold; }
#aq-template-wrapper-88 form input::-moz-placeholder {
  color: #fff;
  font-weight: bold; }
#aq-template-wrapper-88 form input:-moz-placeholder {
  color: #fff;
  font-weight: bold; }
#aq-template-wrapper-88 form input:-ms-input-placeholder {
  color: #fff;
  font-weight: bold; }
#aq-template-wrapper-88 form textarea::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold; }
#aq-template-wrapper-88 form textarea::-moz-placeholder {
  color: #fff;
  font-weight: bold; }
#aq-template-wrapper-88 form textarea:-moz-placeholder {
  color: #fff;
  font-weight: bold; }
#aq-template-wrapper-88 form textarea:-ms-input-placeholder {
  color: #fff;
  font-weight: bold; }
#aq-template-wrapper-88 form input[type="submit"] {
  background: none;
  border: 2px solid #fff;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 100px;
  margin-top: 30px; }

#afiche .item.isotope-item {
  position: relative !important;
  margin: 0 auto !important;
  width: 300px;
  display: block; }
#afiche #portfolio_filter {
  display: none; }
#afiche #portfolio_content .next, #afiche #portfolio_content .prev {
  display: none; }
#afiche .social-share .get-in-touch {
  display: none; }
#afiche .social-share .social {
  float: left; }
#afiche #portafolio_list .item a div.hover {
  background: #fff; }

#programa .timeline-wrapper .detail-warpper .line-wrapper {
  display: none; }
#programa .timeline-wrapper .detail-warpper .text-wrapper .detail {
  width: 100%; }
  #programa .timeline-wrapper .detail-warpper .text-wrapper .detail h2 {
    font-size: 22px;
    margin: 0;
    width: 120px; }
  #programa .timeline-wrapper .detail-warpper .text-wrapper .detail p {
    font-size: 16px;
    width: 70%;
    margin: -23px 0 0 120px;
    text-align: left; }

#contact .heading-title-wrapper .sub-title {
  font-weight: bold; }
#contact .list-contact-wrapper p {
  font-weight: bold; }

/*# sourceMappingURL=oftal.css.map */
